.git
.idea/
.vscode/
__pycache__/
.env
data/
logs/
*.log
*.zip
3dtiles.zip
3dtiles/
*.las
*.laz
*.ply
*.pcd
*.pdf
point_cloud/db.json
temporal.exe
/data/user_data/
/temporal_cli_1.5.1_windows_amd64/
/exp/
