.env
3dtiles.zip
*.zip
point_cloud/db.json
3dtiles
*.las
*.laz
*.ply
*.pcd
*.pdf
temporal.exe
/data/user_data/

.idea/
.vscode/
__pycache__/

data/
logs/
*.log
/temporal_cli_1.5.1_windows_amd64/
/exp/
