pydantic
configparser
attrs
pysocks
protobuf
pyopenssl
cryptography
docutils
sphinx
filelock
redis
requests
simplejson
certifi
brotlicffi
h2
js
urllib3
idna
charset-normalizer
chardet
boto3
botocore
pyyaml
temporalio
sqlalchemy
python-ulid
python-dotenv
pyproj
pdal
laspy
numpy
open3d
aiobotocore
scipy
aio-pika
